
/* Controller table */
@media only screen and (min-width: 730px) {
  .control {
    width: 100vw; 
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Light switch */
.toggle-switch {
  display: flex;
  align-items: center;
}

.active {
  margin-left: 15px;
}

.switch.on {
  background: #4DB312 !important;
} 


/* Highlighting selected room */
.highlight {
  background-color: #E9F4FB !important;
  -webkit-box-shadow:inset 0px 0px 0px 10px #0094E4;
  -moz-box-shadow:inset 0px 0px 0px 10px #0094E4;
  box-shadow:inset 3px 0px 0px 0px  #0094E4;
}


