$background-color: rgb(43, 39, 39);
$color: white;

.display {
  background-color: $background-color;
  color: $color;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room-brightness {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.brightness {
  font-size: 60px;
}

.percent {
  font-size: 40px;
}


