
.nav {
  background-color: #222222;
  color: white;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  padding-left: 15px;
}

// Username

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: solid 1px grey;
  width: 200px;
}


// Icon

.fa-sort-down {
  cursor: pointer;
  margin-bottom: 5px;
}