
%nav-shared {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Nav bar */
.nav {
  @extend %nav-shared;
  justify-content: space-between;
  background-color: #222222;
  color: white;
  height: 54px;
  padding-right: 0;
  padding-left: 15px;
}

/* User Info Section */
.user {
  @extend %nav-shared;
  justify-content: center;
  border-left: solid 1px grey;
  width: 200px;
}

 
/* Icon */
.fa-sort-down {
  cursor: pointer;
  margin-bottom: 5px;
}