@import 'Nav';
@import 'Menu';
@import 'Control';
@import 'Display';
// @import '../../node_modules/react-toggle-switch/dist/css/switch.min.css';

$font-stack: 'Roboto', 'Arial', sans-serif;

body {
  font-size: 20px;
  font-family: $font-stack;
}

.main {
  display: flex;
}