.nav, .user {
  display: flex;
  flex-direction: row;
  align-items: center; }

/* Nav bar */
.nav {
  justify-content: space-between;
  background-color: #222222;
  color: white;
  height: 54px;
  padding-right: 0;
  padding-left: 15px; }

/* User Info Section */
.user {
  justify-content: center;
  border-left: solid 1px grey;
  width: 200px; }

/* Icon */
.fa-sort-down {
  cursor: pointer;
  margin-bottom: 5px; }

/* Menu bar */
.menu {
  height: 80px; }

/* Buttons */
.llOjia {
  margin: 0 !important;
  background: #EBEEF3 !important;
  color: black !important; }

.fXEkVV {
  background: #EBEEF3 !important;
  color: black !important; }

/* Icons */
.fa-angle-left {
  margin-right: 10px; }

.fa-lightbulb {
  margin: 10px; }

/* Lighting text */
.lighting {
  font-size: 20px; }

/* Input */
input {
  float: right; }

@media only screen and (max-width: 730px) {
  input {
    width: 50px; } }
/* Controller table */
@media only screen and (min-width: 730px) {
  .control {
    width: 100vw;
    margin-left: 20px;
    margin-right: 20px; } }
/* Light switch */
.toggle-switch {
  display: flex;
  align-items: center; }

.active {
  margin-left: 15px; }

.switch.on {
  background: #4DB312 !important; }

/* Highlighting selected room */
.highlight {
  background-color: #E9F4FB !important;
  -webkit-box-shadow: inset 0px 0px 0px 10px #0094E4;
  -moz-box-shadow: inset 0px 0px 0px 10px #0094E4;
  box-shadow: inset 3px 0px 0px 0px  #0094E4; }

/* Display */
.display {
  background-color: #3B3C41;
  color: white;
  width: 60vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* Sliderbar */
.rs-control .rs-range-color {
  background: #FEC400;
  /* Old browsers */
  background: -moz-linear-gradient(left, #886604 40%, #FEC400 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #886604 40%, #FEC400 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #886604 40%, #FEC400 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#886604', endColorstr='#FEC400',GradientType=1 );
  /* IE6-9 */ }
.rs-control .rs-path-color {
  background-color: #a8a7a7; }
.rs-control .rs-handle {
  background-color: #FEC400; }
.rs-control .rs-bg-color {
  background-color: #3B3C41; }

/* Text in the sliderbar */
.rs-tooltip-text {
  margin-top: -60px !important; }

/* Arrow box */
.arrow_box {
  position: relative;
  background: #3B3C41;
  width: 40vw;
  display: flex;
  justify-content: center; }

.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after, .arrow_box:before {
  border-color: rgba(59, 60, 65, 0);
  border-right-color: #3B3C41; }

.arrow_box:after {
  border-width: 3px;
  margin-top: -3px; }

.arrow_box:before {
  border-width: 9px;
  margin-top: -9px; }

@media only screen and (max-width: 730px) {
  .display {
    width: 96vw;
    height: 50vw; }

  .rs-control .rs-overlay {
    background-color: transparent !important; }

  .rs-control .rs-container {
    height: 150px !important;
    width: 150px !important;
    margin-top: 25px !important; }

  .arrow_box:after, .arrow_box:before {
    border: none; } }
body {
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif; }

.main {
  display: flex; }

@media only screen and (max-width: 730px) {
  .main {
    display: flex;
    flex-direction: column-reverse; } }

/*# sourceMappingURL=styles.css.map */
